/* section */
#section1{
    background: skyblue;
    height: 100px;
    width: 1500px;
    margin-left: 30px;
    margin-top: 30px;
    border: 2px solid #000;
}
#section1 div{
    /* background: wheat; */
    width:300px;
    text-align: center;
    float:left;
    margin-top: 40px;
}
#section1 div p{
    float:left;
    margin-left: 20px;
}
#section1 div p input{
    height:25px;
}

#section1 #searchbutton{
    height:30px;
    width: 60px;
    float:left;
    margin-top: 40px;
    margin-left: 20px;
}


#section2{
    background: lightpink;
    height: 600px;
    width:1500px;
    margin-top:20px;
    margin-left: 30px;
    font-size: 20px;
}
#section2 table{
    text-align: center;
    overflow: auto;
}

#section2 tbody{
    display: block;
    height:550px;
    /*background: yellow;*/
    line-height: 60px;
    overflow: auto;
}
#section2 thead{
    display: block;
}
#section2 table td{
    overflow: auto;
    width:200px;
    height:60px;
    border: 2px solid #000;
}
#section2 table th{
    width:200px;
    height:50px;
    border: 2px solid #000;
}
